* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* ____________________________________________________

MAIN
________________________________________________________*/


/* ____________________________________________________

TITLE&SUBTITLE
________________________________________________________*/



/* ____________________________________________________

CARDS BOX    
________________________________________________________*/