* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* ____________________________________________________

MAIN
________________________________________________________*/


/* ____________________________________________________

TITLE&SUBTITLE
________________________________________________________*/

body {
    font-family: 'Roboto', sans-serif;
    max-width: 80%;
    margin: 0px auto;
}

.pagetitle  {
    text-align: center;
    height: 15%;
    margin: 5% auto;
}

h2 {
    font-family: font-family: 'Titan One', cursive;
    color: #e53170;
    font-size: 70px;
    margin-bottom: 20px;
}

.pagetitle p {
    font-size: 20px;
    line-height: 30px;
}

/* ____________________________________________________

CARDS BOX    
________________________________________________________*/

.clearfix::after {
    content:'';
    clear: both;
    display: table;
}

.card {
    float: left;
    color: white;
    background-color: black;
    width: calc(100% / 3 - 20px);
    margin: 20px 10px;
    box-shadow: 15px 12px 20px 2px rgba(0,0,0,0.33);
}

.cardphoto {
    width: 25%;
    margin-right: 10px;
}

.card>div {
    float: left;
}

.photopic {
    width: 100%;
    display: block;
}

.cardinfo {
    margin: 10px 0;
    width: 75%-15px;
}

.cardinfo h3{
    margin: 10px 0;
}

.cardinfo h4, .cardinfo a{
    margin: 10px 0;
}

a {
    color: blue;
    text-decoration: none;
}